*.apk
*.aar
*.ap_
*.aab
*.dex
*.class

bin/
gen/
out/
release/
build/

.gradle/
.kotlin/
.idea/
.navigation/
.externalNativeBuild/
.cxx/

local.properties

*.iml
*.log
*.hprof
*.jks
*.keystore

captures/
proguard/

google-services.json

lint/intermediates/
lint/generated/
lint/outputs/
lint/tmp/
lint/reports/
